.about-us {
  padding: 20px;
  overflow-x: hidden;

  > h2 {
    color: $color-purple;
    font-size: 30px;
    text-align: center;
  }

  &__wrapper {
    &__container {
      padding: 50px 10px;

      &__image {
        > img {
          position: relative;
          width: 120px;
        }
      }

      &__title-content {
        position: relative;

        > h3 {
          color: $color-purple;
          text-transform: uppercase;
          font-size: 20px;
        }

        > p {
          font-size: 18px;
          line-height: 25px;
          padding-top: 10px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .about-us {
    padding: 30px 0;

    > h2 {
      font-size: 48px;
    }

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: auto;
      width: 60%;

      &__container {
        display: flex;

        &__title-content {
          margin-left: 20px;

          > p {
            max-width: 350px;
          }
        }
      }
    }
  }
}
