$color-black: #000;
$color-white: #fff;
$color-purple: #702bb1;
$color-gray: #f2f2f2;
$color-what-we-do-bg-section: #fff6ef;
$color-footer-bg: #333;
$color-pink: #fff9fb;
$color-pink-border: #fbc6d9;
