.services-card {
  &__wrapper {
    padding: 20px;

    &__card {
      border-radius: 25px;
      padding: 20px 30px;
      text-align: center;
      background-color: $color-gray;
      margin-bottom: 20px;
      position: relative;

      &.gradient {
        background-image: linear-gradient(#ffcca4, #ecbff9);
      }

      > h2 {
        color: $color-purple;
        font-size: 48px;
        padding-bottom: 20px;
      }

      > p {
        padding: 0 20px;
        line-height: 35px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .services-card {
    position: relative;
    top: -90px;

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 70%;
      margin: auto;

      &__card {
        margin-left: 10px;
        width: 300px;
        padding: 10px;
      }
    }
  }
}
