.what-we-do {
  &__first-section {
    background-image: linear-gradient(#d3b1f4, #fbc6d9);
    height: 600px;
  }

  &__second-section {
    position: relative;
    background-color: $color-what-we-do-bg-section;
    height: 450px;

    &__first-img {
      position: absolute;
      top: -120%;
      left: 50%;

      > img {
        width: 150px;
      }
    }

    &__second-img {
      position: absolute;
      top: -90%;
      left: 20%;
      z-index: 1;

      > img {
        width: 150px;
      }
    }

    &__card {
      position: absolute;
      background-color: $color-white;
      padding: 110px 20px 50px;
      width: 80%;
      top: -70%;
      left: 10%;
      border-radius: 25px;

      > h2 {
        color: $color-purple;
        font-size: 30px;
      }

      > p {
        line-height: 35px;
        padding: 20px 0;
      }

      > button {
        background-color: $color-purple;
        color: $color-white;
        font-weight: bold;
        padding: 25px 50px;
        border: unset;
        outline: none;
        border-radius: 30px;
        text-align: center;
      }
    }

    &__third-img {
      position: absolute;
      top: 48%;
      left: 5%;

      > img {
        width: 185px;
      }
    }

    &__fourth-img {
      position: absolute;
      top: 75%;
      left: 65%;
      rotate: 90deg;

      > img {
        width: 100px;
        height: 140px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .what-we-do {
    &__first-section {
      height: 410px;
    }

    &__second-section {
      height: 700px;

      &__first-img {
        top: -20%;
        left: 25%;

        > img {
          width: 280px;
        }
      }

      &__second-img {
        top: -40%;
        left: 52%;

        > img {
          width: 210px;
        }
      }

      &__card {
        padding: 150px 20px 80px;
        width: 30%;
        top: -25%;
        left: 50%;

        > h2 {
          font-size: 48px;
        }

        > p {
          font-size: 20px;
        }
      }

      &__third-img {
        top: 48%;
        left: 20%;
      }

      &__fourth-img {
        top: 60%;
        left: 55%;
        rotate: 90deg;

        > img {
          width: 150px;
          height: 300px;
        }
      }
    }
  }
}
